@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
     
</div>

<div class="row">

        <h2>Welcome to RMI</h2>
  
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Lessons</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Check</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699314">Book</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Change</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Instructors</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Search</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Contact</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Your account</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">History</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">Your next lesson</a></li>
        </ul>
    </div>
</div>
